apispec==4.0.0
autopep8==1.5.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Flask==1.1.2
flask-apispec==0.11.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
marshmallow==3.10.0
pycodestyle==2.6.0
PySocks==1.7.1
requests==2.25.1
requests-futures==1.0.0
soupsieve==2.1
stem==1.8.0
toml==0.10.2
torrequest==0.1.0
urllib3==1.26.2
webargs==7.0.1
Werkzeug==1.0.1
